/* Override this file to customise the theme's CSS for your site */
:root {
  --yellow: #fdba74;
  --green: #f97316;
  --bright-green: #0EA5E9;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size:1.25rem;
}
.page__logo {
    color: var(--green);
    font-size: 1.5rem;
}
.page__logo-inner {
    background:none;
}

a.page__logo-inner:hover,
a.page__logo-inner:active {
    background: none;
    color:var(--bright-green);
}

.page__logo-inner::before, .page__logo-inner::after {
    color: #475569;
}

.page__body {
    margin-top:6px;
}

.content__body {
    margin-top:15px;
}
.post h2:before {
    content:"* \00A0";
}

