/* Main menu */
.main-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0.25rem 0;
}

.main-nav li {
    margin-left: 2.5rem;
    text-transform: lowercase;
}

.main-nav ul {
    list-style: none;
}
.main-nav li::marker {
    display:none;
    content:"";
}
.main-nav li::-webkit-details-marker {
    display: none;
    content:"";
}
.main-nav li::before {
    content: "[";
    color:var(--bright-bg);
}
.main-nav li::after {
    content: "]";
    color:var(--bright-bg);
}
